
@media screen and  (max-width:  840px){
	.article-blogs{
		column-count: 3;
		column-gap: 10px;			 	
	}	
}
@media screen and  (max-width:  620px){
	.article-blogs{
		column-count: 2;
				 	
	}	
	.article-blog{		
		margin: 0 0 10px;
	}
}
@media screen and  (max-width:  420px){
	.form-search{
		width: 90%;
		margin: 0 auto;
		float: none;
	}
	.form-search span::after{
		top: 79%;
	}
	.menu{
		display: none;
		width: 200px;
		background: #f8f8f8;
		position: absolute;
		top:195px;
		left:  10px;
		z-index: 10;	
	}
	.menu li {
		display: block;
	}	
	.menu li a{
		display: block;
		padding: 15px 10px;
		color: #000;
	}
	.menu li:first-child a{
 		border-top: none;
	}
	.menu-btn{
		display: block;	
	}
	.main-blog h1{
		font-size: 20px;
		margin:  10px 0 10px 0;
	}
	.home_nav li{
		display: block;
		border-left:none;
	}
	.home_nav li:first-child a{
		padding:  0 5px 0 9px;
	}
	.article-blogs{
		column-count: 1;
		margin: 0  0 10px 0;			 	
	}	
	.article-blog{
		display: block;
		width: 70%;
		margin: 0 auto;
	}
	.soc-block, .text-block {
		width: 100%;
	}
	.text-block {
		float: left;		
	}
	footer .text-block {
		text-align: left;
	}
}
