@media screen and  (max-width:  960px){
	.article-blog {    
    	width: 31%;
    	padding: 0 5% 20px 0; 

	}
}
@media screen and  (max-width:  730px){
	.article-blog {    
    	width: 48%;
    	padding: 0 5% 20px 0; 
	}	
}
@media screen and  (max-width:  420px){
	.logo{
		margin:  0  0 0 15px;
	}
	.form-search{
		width: 80%;
		float: left;
		margin: 0  0 0 15px;
	}	
	.menu{
		display: none;
		width: 200px;
		background: #f8f8f8;
		position: absolute;
		top:195px;
		left:  10px;
		z-index: 10;	
	}
	.menu li {
		display: block;
	}	
	.menu li a{
		display: block;
		padding: 15px 10px;
		color: #000;
	}
	.menu li:first-child a{
 		border-top: none;
	}
	.menu-btn{
		display: block;	
	}
	.main-blog h1{
		font-size: 20px;
		margin:  10px 0 10px 0;
	}
	.home_nav ul{
		margin: 0 15px 0 15px;
	}	
	.home_nav li{
		border: none;
	}
	.home_nav li a {
        padding: 0 5px 0 0;
    }
	.article-blogs {    
    	margin: 67px 0 17px 15px;
	}
	.article-blog{		
		width: 90%;	
	}
	.pagination {
    	margin: 0 0 34px 15px;
	}
	.soc-block, .text-block {
		width: 100%;
		margin: 0 0 0 15px;
	}
	footer .text-block {
		text-align: left;
		float: left;
	}
}
