body{
	font-family:  "Helvetica CY", "Nimbus Sans L", Arial, sans-serif;
	color: #000; 
	background: url("../img/body_bg.jpg");
	font-size: 16px;
	line-height: 1.3; 
	min-width: 320px;
}
.container{
	min-width: 320px;
	max-width: 940px;	
	margin: 0 auto;
}
h1,h2,h3{
	font-family:'ChunkFive Roman',s Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	font-size: 30px;
	font-weight: normal;	
	text-align: center;
}
.main-blog h1{
	padding: 0 0 12px 0;
}
.main-home-blog h1{
	padding: 14px 26px 7px 0;
}
.top-head{
	padding: 0 0 23px 0;
}
.logo{
	font-family: 'ChunkFive Roman', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	font-size: 36px;
	float: left;
	display: block;
	text-decoration: none;
	color: #000;
}
.logo span{
	display: inline-block;
	color: #f03c3c;
} 
.form-search{
	width: 202px;
	padding: 0;
	margin: 5px 0 0 0;
	float: right;
}
.form-search span{
	display: block;		
	text-align: left;
	opacity: 0.6;
	position: relative;	
}
.form-search span::after{
	content: '';
	position: absolute;
	top: 50%;
	right:  12px;
	width: 14px;
	height: 14px;
	background: url(../img/tech-page/ic-form-seach.png) 50% 50% no-repeat;
	opacity: 0.6;
	margin: -7px 0 0 0;
}
.form-search input[type="search"]{
	width: 100%;
	padding: 9px 14px 9px 9px;
	font-size: 12px;
	border: 1px solid #d2d2d2;
	text-align: left;
	color: #d2d2d2;
}
.form-search input:focus{
	border: 1px solid #7e897f;
	opacity: 1;
}
.head_menu{
	border-top: 1px solid #f8f8f8;
	padding: 17px 0 11px 0;
}
.menu{
	display: block;
	position: static;
	width: auto;
	background: transparent;
	float: left;
	padding: 0;
	margin: 0;
}
.menu ul{	
	padding:  0;	
	list-style: none;
	margin: 0;	
}
.menu li{
	display: inline-block;
	margin: 0;
	padding: 0;	
	border-left: 1px solid  #f8f8f8;
}
.menu li:first-child{
	border-left:none;
}
.menu li:last-of-type{
	border-right: 1px solid  #f8f8f8;
}
.menu li a{
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	color: #494949;
	padding: 19px 21px 19px 15px;	
}
.menu li a:hover{
	border-top: 1px solid #f47c7c;
	color: #f47c7c;
}
.menu-btn{
	float: left;
	width: 70px;
	height: 70px;
	background: #000;
	position: relative;
	display: none;		
}
.menu-btn span{
	width: 18px;
	height: 2px;
	background: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -1px  0 0 -9px;
}
.menu-btn span::before,.menu-btn span::after{
	content: "";
	width: 18px;
	height: 2px;
	background: #fff;
	position: absolute;
	left: 0;
}
.menu-btn span::before{
	top: -5px;
}
.menu-btn span::after{
	bottom: -5px;
}
.menu-btn .is-active span{
	background: transparent;
}
.menu-btn .is-active::before{
	transform: rotate(45deg);
	top: 0;
}
.menu-btn .is-active::after{
	transform: rotate(90deg);
	bottom: 0;
}
.slider-block {
	max-width: 940px;
	margin: 30px auto 0;
	padding: 0 !important;
}
.slider-item {
	position: relative;
}
.slider-item__row {
	margin-bottom: 6px;
}
.slider__img-wrapper {
	height: 100%;
	width: auto;
	float: left;
	box-sizing: border-box;
	position: relative;
}
.slider__img-wrapper:not(:last-child){
	margin-right: 6px;
}
.slider-item__row--top {
	overflow: hidden;
	max-height: 74px;
	width: 100%;
	box-sizing: border-box;
	padding: 0;
}
.slider__img-wrapper img {
	display: block;
	height: 100%;
	width: auto;
	margin: 0;
	padding: 0;
}
.slider__img-wrapper .img-link {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color:  rgba(41, 41, 41, 0.7);
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACUAAAAlCAYAAADFniADAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA2ZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDpGNzdGMTE3NDA3MjA2ODExODA4M0VCODNDNjJCRDdDMSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDoxNzlCQjdGMDJBRkIxMUU3OUY3RUI0RkFCMzFCREMzRiIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDoxNzlCQjdFRjJBRkIxMUU3OUY3RUI0RkFCMzFCREMzRiIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M1IE1hY2ludG9zaCI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjAyODAxMTc0MDcyMDY4MTE4QTZEREE1NjExODRBMDQ5IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOkY3N0YxMTc0MDcyMDY4MTE4MDgzRUI4M0M2MkJEN0MxIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+Kgs6JgAAAJBJREFUeNpi/Pfv33+GQQaYGAYhGHXUqKNGHTXqKCo7ihENyw/GkPoxGB31czRNjWhHsZCpD9Tc+TDQjhIA4o9Eqv0ILRqwAX5iPDOk09Sfweior0MhoROqdgRwyPFR01H/8YQgDxaL3w1kOcU9WqKPOmo4133ouY2Z1GxPa0d9HE1To44addSoo0aaowACDACYehFrW2HAQQAAAABJRU5ErkJggg==);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: none;
	z-index: 100;
}
.slider__img-wrapper:hover .img-link{
	display: block;
}
.slider-item__row--middle {
	overflow: hidden;
	max-height: 299px;
	width: auto;
	box-sizing: border-box;
}
.slider-item__midsubrow {
	float: left;	
	box-sizing: border-box;
	margin: 0;
}
.slider-item__midsubrow:last-child {
	margin-left: 6px;
}
.slider-item__midsubrow--bg {
	max-width: 627px;
	width: auto;
	height: 100%;
}
.slider-item__midsubrow--sm {
	max-width: 307px;
	height: 100%;
}
.slider-item__midsubrow .slider__img-wrapper {
	display: block;
}
.slider-item__midsubrow .slider__img-wrapper:not(:last-child) {
	margin-bottom: 6px;
}
.slider-item__row--bottom {
	max-height: 116px;
	width: 100%;
	overflow: hidden;
}
.slider__txt-block {
	width: 294px;
	height: 195px;
	background: rgba(1, 1, 1, 0.5);
	position: absolute;
	top: 50%;
	left: 50%;
	overflow: hidden;
	margin-left: -130px;
	margin-top: -150px;
}
.slider__txt-block h5 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #fff;
	padding: 0;
	margin: 25px 0 17px 31px;
}
.slider__txt-block p {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
	line-height: 16px;
	color: #fff;
	padding: 0 36px 8px 31px;
}
.slider__txt-block .btn{
	display: block;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: 600;
	color: #fff;
	text-decoration: none;
	margin-left: 39px;
}
.slider__txt-block .btn:before{
	content: '';
	display: inline-block;
	width: 15px;
	height: 8px;
	padding-right: 7px;
	color: #c4c5c4;
	background: url("../img/ic_double_arrow_white.png") 0 0 no-repeat;
}
.slick-arrow{
 	width: 92px;
	height: 74px;
	position: absolute;
	top: 35%;
	border:none;
	border-top: 2px solid rgba(160, 160, 160, 0.5);
	font-size: 0;
	z-index: 1;
 }
 .slick-prev{ 	
 	background: url(../img/ic_slider_previous.png);
	left: -18px;
 }
.slick-prev::after {
 	content: "";
	width: 0;
	height: 0;
	border-right: 20px solid #313331;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	position: absolute;
	bottom: -10px;
	left: 0;
	z-index: -1;
}
.slick-next{
 	background: url(../img/ic_slider_next.png);
	right: -18px;
}
.slick-next::after{
 	content: "";
	width: 0;
	height: 0;
	border-left: 20px solid #313331;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	position: absolute;
	bottom: -10px;
	right: 0;
	z-index: -1; 
}
section.contact-block {
	padding: 28px 0 0 0; 
}
.contact-block h3,
.sm-items-block h3,
.blog-item h3 {
	font-size: 30px;
	font-weight: normal;
	color: #000;
	text-align: center;
	margin: 18px 0 33px;
}
.contact-block p {
	font-size: 12px;
	line-height: 16px;
	font-weight: normal;
	color: #464646;
}
.map-block {
	height: 400px;
	box-sizing: border-box;
	margin: 28px 0 34px;
	overflow:hidden;
	padding-bottom: 42.7%;
	position: relative;
}
.map-block iframe{
	left: 0;
	top: 0;
	max-height: 400px;
	width: 100%;
	position: absolute;
}
.form-block {
	margin: 0 0 38px;
	padding: 0;
	max-width: 500px;
}
.form-block .form-row {
	margin-bottom: 10px;
}
.form-block .form-row:nth-child(4) {
	margin-bottom: 0;
}
.form-row input[type='text'],
.form-row input[type='email'] {
	padding: 13px 15px 10px;
	width: 218px;
	height: 35px;
}
.form-row textarea {
	padding: 15px;
	margin-bottom: 10px;
}
.form-row input[type='text'],
.form-row input[type='email'],
.form-row textarea {
	background: #fafafa;
	border: 1px solid #eee;
	border-radius: 2px;
	color: #c6c6c6;
	font-size: 12px;
	text-transform: uppercase;
}
.form-row textarea {
	width: 100%;
	height: 205px;
	resize: none;
}
.form-row button {
	padding-left: 27px;
	background: #fefefe;
	border: none;
	font-size: 14px;
	font-weight: bold;
	color: #474747;
	text-transform: capitalize;
	position: relative;
}
.form-row button::before {
	position: absolute;
	content: "";
	width: 17px;
	height: 9px;
	top: 4px;
	left: 0;
	background: url(../img/ic_double_arrow.png) 0 0 no-repeat;
}
footer{
	border-top: 1px solid #ececec;
	padding: 23px 0 35px;
}
.main-blog{
	margin: 0;
}
.soc-block, .text-block {
	width: 50%;
	min-width: 320px;
}
.soc-block {
	float: left;
}
.text-block {
	float: right;
}
footer .soc-block a {
	display: inline-block;
	height: 34px;
	width: 34px;
	margin: 0 0 0 2px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    0px 1px 0px 0px rgba(0, 0, 0, 0.2);
	box-shadow:         0px 1px 0px 0px rgba(0, 0, 0, 0.2);
}
footer .soc-block a:first-child {
	margin: 0;
}
.soc-block a.twit {
	background: url(../img/footer-icons/ic-twitter.png) 8px 4px no-repeat, #75d0e5;
}
.soc-block a.rss {
	background: url(../img/footer-icons/ic-rss.png) 6px 6px no-repeat, #fdaf2e;
}
.soc-block a.fb {
	background: url(../img/footer-icons/ic-facebook.png) 15px 5px no-repeat, #638ac8;
}
.soc-block a.pint {
	background: url(../img/footer-icons/ic-pinterest.png) 8px 4px no-repeat, #f23b3b;
}
footer .text-block {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
	font-size: 12px;
	line-height: 20px;
	text-align: right;
}
footer .text-block span {
	border-left: 1px solid #484c4f;
	padding: 0 0 0 8px;
}
footer .text-block p {
	font-size: 11px;
	font-weight: 400;
	margin: 0;
}
.article-blogs{
	width: 100%;	
	margin:67px 0 17px 0;
}
.article-blog{
	margin: 0 2% 20px 0 ;
	width: 23%;
	display: inline-block;	
}
.article-blog article{
	width: 220px;
	height: auto;
}
.article-blog article .img-wrap{
	position: relative;
}
.article-blog article img{
	width: 100%;
	height: auto;
	display: block;
}
.article-blog article .txt-wrap{
	padding: 11px 14px 0;
	border-left: 1px solid #dbdbdb;
	border-right: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
}
.article-blog article h6{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #2e2e2e;
	margin: 0 0 -5px;
}
.article-blog article .article-info{
	display: inline-block;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 11px;
	font-weight: 600;
	color: #8a8a8a;
	margin-bottom: 13px;
}
.article-blog article p{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
	color: #2f2f2f;
	margin: 0 0 12px;
	padding: 0;
}
.article-blog article .btn{
	display: inline-block;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: 600;
	color: #2e2e2e;
	text-decoration: none;
	margin-left: 2px;
	margin-bottom: 17px;
}
.article-blog article .btn:before{
	content: '';
	display: inline-block;
	width: 15px;
	height: 8px;
	padding-right: 7px;
	background: url("../img/article-elements/btn-more.png") 0 0 no-repeat;
}
.article-blog article .img-url{
	display: none;
	width: 100%;
	height: 100%;
	text-decoration: none;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.75);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #ffffff;
}
.article-blog .img-wrap:hover .img-url{
	display: block;
}
.article-blog article .plus{
	display: block;
	width: 37px;
	height: 37px;
	margin: 37.5% auto 0;
	background: url(../img/article-elements/ic-plus-transparent.png) 0 0 no-repeat;
}
.article-blog .info{
	padding-top: 73px;
	display: block;
	text-align: center;
}
.article-blog .info span{
	position: relative;
	display: inline-block;
	width: 32%;
}
.article-blog .info span:before{
	content: '';
	display: block;
	width: 24px;
	height: 15px;
	position: absolute;
	top: -22px;
	left: 24px;
	background: url(../img/article-elements/ic-icons.png) 0 0 no-repeat;
}
.article-blog .info .img-date:before{
	background-position: -27px 0;
}
.article-blog .info .img-likes:before{
	background-position: -55px 0;
}

.sm-items-block{
	margin: 0;
	padding: 0;
}
.sm-items-block h3 {
	margin: 38px 0 37px;
}
.sm-items-block .sm-items{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 0 60px 0;
} 
.sm-items-block .sm-items .article-blog{
	margin-top: 0;
	margin-bottom: 0;
	width: 22%;
}
.sm-items-block .sm-items .article-blog:not(:last-child){
	margin-right: 20px;
}
.article-blog .sm-article{
	position: relative;
}
.article-blog .sm-article .img-wrap {
	height: 184px;
	overflow: hidden;
}
.article-blog .sm-article-url{
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	position: absolute;
	top: 0;
	left: 0;
}
.pagination {
	display: inline-block;	
	margin: 0 0 46px 0;
}
.pagination a {
	display: inline-block;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #666666;
	float: left;
	padding: 4px 8px;
	margin: 0 3px;
	border-radius: 4px;
	background: #cccccc;
	text-decoration: none;
	border: solid 1px #d7d7d7;
	box-shadow: 1px 1px 1px rgba(0,0,0,.2), inset 1px 1px #fff, inset 0 0 1px rgba(252,252,252,.05);
	background-image: linear-gradient(to top, #d5d5d5, #fbfbfb);
}
.pagination a.active {
	box-shadow: 0 0 1px rgba(0,0,0,.05), inset 1px 1px #8a8a8a, inset 1px 1px 3px rgba(0,0,0,.14);
	background-image: linear-gradient(to bottom, rgba(0,0,0,.06), rgba(255,255,255,.06));
	color: #666666;
}
.pagination a:hover:not(.active) {
	background-image: linear-gradient(to top, #e7e7e7, #fefefe);
}
.home_nav{
	display: block;
	float: left;
	padding: 0;
	margin: 0 0 11px 0;
}
.home_nav ul{	
	padding:  0;	
	list-style: none;
	margin: 0;	
}
.home_nav li{
	display: inline-block;
	margin: 0;
	padding: 0;	
	border-left: 1px solid #262626;
	transform:skewX(-23deg);	
}
.home_nav li:first-child{
	border-left:none;
}
.home_nav li span{
	display: inline-block;
	transform:skewX(23deg);
}
.home_nav li a{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	color: #262626;
	padding: 0 5px 0 9px;	
}
.home_nav li:first-child a{
	padding: 0 4px 0 0;
}
.home_nav li a:hover{
	color: #f47c7c;
}
.blog-item{
	padding-top: 8px;
}
.blog-article {
	padding: 13px 0 0;
    margin: 10px 0 0px 0;
}
.blog-article .img-box {
	width: 57.5%;
	min-width: 320px;
	float: left;
}
.blog-article .img-box img {
	width: 100%;
	height: auto;
}
.blog-article .info-box {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 42.5%;
	min-width: 320px;
	float: left;
}
.post-info-wrapper {
	margin: 0 0 17px 0;
}
.blog-article .info-box .post-info {
	width: 33.3333%;
	float: left;
	line-height: 20px;
	padding-bottom: 20px;
}
.info-box__p {
	color: #000;
	line-height: 18px;
	margin-bottom: 19px;
}
.blog-article .info-box .post-info p{
	color: #464646;
	margin: -2px 0 0;
}
.blog-article .info-box .post-info span {
	color: #f03c3c;
}
.blog-article .info-box a {
	padding-left: 5px;
    background: #fefefe;
    border: none;
    font-size: 14px;
    font-weight: bold;
    color: #474747;
    text-transform: capitalize;
    text-decoration: none;
}
.blog-article .info-box a:before {
	content: '';
	display: inline-block;
	width: 15px;
	height: 8px;
	padding-right: 7px;
	color: #c4c5c4;
	background: url("../img/article-elements/btn-more.png") 0 0 no-repeat;
}
.blog-item {
	margin-top: 5px;
}
.blog-item .info-box {
	font-size: 12px;
	padding: 0 0 0 39px;
}
.info-box .btn{
	display: inline-block;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #2e2e2e;
	text-decoration: none;
	margin: 2px 0 17px 5px;
}
.info-box .btn:before{
	content: '';
	display: inline-block;
	width: 15px;
	height: 8px;
	padding-right: 7px;
	background: url("../img/article-elements/btn-more.png") 0 0 no-repeat;
}
 .slick-dots{
 	position: absolute;
  	top: 39%;
 	right: 13%;
  	margin: 0;
  	padding: 0;	
 }
 .slick-dots li{
 	display: block;
 	margin: 6px 0;
 	padding: 0 ;
 	height: 15px;
 }
 .slick-dots button{
 	width: 10px;
 	height: 10px;
 	border-radius: 50%;
 	font-size: 0; 	
 	line-height: 0;
 	background: #b2acab;
 	padding: 0;
 	margin: 0;
 }
 .slick-dots li.slick-active button{
 	background: transparent;
 	border: 1px solid #d3c1ad; 	
 	width: 15px;
 	height: 15px;
 	padding: 0;
 	margin: 0;
 }

